<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

  <!-- start of foundation nav -->

  <nav class="top-bar" data-topbar>
    <ul class="title-area">

      <li class="name">
        <h1>
          <a href="#">
            <%= link_to(image_tag("wander-nav-logo.png", width:"30px", height:"auto", :alt => "Wander Logo"), root_path) %>
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">


        <% if current_user %>
        <li class="divider"></li> 
        <li><%= link_to "My Profile", current_user %></li>
      </li>
      <li class="divider"></li>
      <li class="has-dropdown">
        <a href="#">My Products</a>
        <ul class="dropdown">
          <li><%= link_to "All Products", products_path %></li>
          <li><%= link_to "Add Product", new_product_path %></li>         
        </ul>
      </li>
      <li class="divider"></li>
      <li class="has-dropdown">
        <a href="#">Admin</a>
        <ul class="dropdown">
          <li><%= link_to "Users", users_path %></li>                             
          <li><%= link_to "Categories", categories_path %></li>                   
          <li><%= link_to "Sizes", sizes_path %></li>  
          <li><%= link_to "All Products", products_path %></li>

        </ul>
      </li>
      <li class="divider"></li>
      <li class="has-dropdown">
        <a href="#">About Us</a>
        <ul class="dropdown">
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
        </ul>
      </li>
        <li class="divider"></li>
        <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
      </li>
    <li class="divider"></li>
    <% else %>
    <li class="divider"></li>
    <li class="has-dropdown">
      <a href="#">About Us</a>
      <ul class="dropdown">
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </li>
    <li class="divider"></li>
      <li><%= link_to "Sign Up", new_user_registration_path %></li>
    </li>
    <li class="divider"></li>
      <li><%= link_to "Log In", new_user_session_path %></li>
    </li>
    <li class="divider"></li>
    <% end %>
    </ul>
    </section>
  </nav>

</div>
</div>

<!-- end of foundation header -->



  <% flash.each do |name, message| %>
  <div class="flash-message flash-message-<%= name %>">
    <%= message %>
  </div>
  <% end %>

  <%= yield %>



</body>



<footer>
  &copy; Wander 2015
</footer>


</html>
