
<div id="featured" class="home-orbit-img" data-orbit>
<%= link_to(image_tag("home-slide-1.png", :alt => "Wander Slide 1"), root_path) %>
  <%= link_to(image_tag("home-slide-2.png", :alt => "Wander Slide 2"), root_path) %>
  <%= link_to(image_tag("home-slide-3.png", :alt => "Wander Slide 3"), root_path) %>
</div>

<br>

<div class="row">

  <% if current_user %>

  <div class="large-3 medium-3 small-12 columns">
    <h5 class="home-row"><%= link_to "My Profile", current_user %></h5>
  </div>

  <div class="large-3 medium-3 small-12 columns" id="home-row">
    <h5 class="home-row"><%= link_to "Edit Profile", edit_user_registration_path %></h5>
  </div>

  <!-- <div class="hide-for-small"> -->
  <div class="large-3 medium-3 small-12 columns">
    <h5 class="home-row"><%= link_to "All Products", products_path %></h5>
  </div>

  <div class="large-3 medium-3 small-12 columns">
    <h5 class="home-row"><%= link_to "Add Product", new_product_path %></h5>
  </div>

  <% else %>

  <div class="large-3 medium-3 small-12 columns">
    <h5 class="home-row"><%= link_to "Sign Up", new_user_registration_path %></h5>
  </div>

  <div class="large-3 medium-3 small-12 columns">
    <h5 class="home-row"><%= link_to "Log In", new_user_session_path %></h5>
  </div>

  <div class="large-3 medium-3 small-12 columns">
    <h5 class="home-row"><%= link_to "About", about_path %></h5>
  </div>

  <div class="large-3 medium-3 small-12 columns">
    <h5 class="home-row"><%= link_to "Contact", contact_path %></h5>
  </div>

  <% end %>
</div>
</div>


</div>

<br>


<script>
  document.write('<script src=js/vendor/' +
    ('__proto__' in {} ? 'zepto' : 'jquery') +
    '.js><\/script>')
</script>
<script src="js/foundation.min.js"></script>
<script>
  $(document).foundation();
</script>