<h2>Sign up</h2>


<!-- We need to add into the form: role (dropdown/checkbox), name, description, logo. Will need to amend master values (or smart values, whatever they're called) -->




<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <!-- manually entered fields starts  -->

  <div class="field">
    <%= f.label :role %><br />
    <%= f.text_field :role %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :logo %><br />
    <%= f.text_field :logo %>
  </div>


  <!-- manually entered fields ends  -->

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>



 <!-- foundation form starts -->

 <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
   <%= devise_error_messages! %>
 <form>
   <div class="row">
     <div class="large-12 columns">


       <label>Input Label
         <input type="text" placeholder="large-12.columns" />
       </label>
     </div>
   </div>
   <div class="row">
     <div class="large-4 columns">
       <label>Input Label
         <input type="text" placeholder="large-4.columns" />
       </label>
     </div>
     <div class="large-4 columns">
       <label>Input Label
         <input type="text" placeholder="large-4.columns" />
       </label>
     </div>
     <div class="large-4 columns">
       <div class="row collapse">
         <label>Input Label</label>
         <div class="small-9 columns">
           <input type="text" placeholder="small-9.columns" />
         </div>
         <div class="small-3 columns">
           <span class="postfix">.com</span>
         </div>
       </div>
     </div>
   </div>


   
   <div class="row">
     <div class="large-12 columns">
       <label>Select Box
         <select>
           <option value="husker">Husker</option>
           <option value="starbuck">Starbuck</option>
           <option value="hotdog">Hot Dog</option>
           <option value="apollo">Apollo</option>
         </select>
       </label>
     </div>
   </div>
   <div class="row">
     <div class="large-6 columns">
       <label>Choose Your Favorite</label>
       <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Red</label>
       <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Blue</label>
     </div>
     <div class="large-6 columns">
       <label>Check these out</label>
       <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
       <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
     </div>
   </div>

   <div class="row">
     <div class="large-12 columns">
       <label>Description
         <textarea placeholder="Enter a brief description of your brand here."></textarea>
       </label>
     </div>
   </div>

   <div class="row">
     <div class="large-4 columns">
   <div class="field">
     <%= f.label :password %>
     <% if @minimum_password_length %>
     <em>(<%= @minimum_password_length %> characters minimum)</em>
     <% end %><br />
     <%= f.password_field :password, autocomplete: "off" %>
   </div>
   </div>
   </div>

   <div class="row">
     <div class="large-4 columns">
   <div class="field">
     <%= f.label :password_confirmation %><br />
     <%= f.password_field :password_confirmation, autocomplete: "off" %>
   </div>
   </div>
   </div>






 </form>

 <% end %>


 <!-- foundation form ends -->
